footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}
footer nav {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
footer nav a {
  color: var(--text-gray);
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
}
footer p {
  color: var(--text-gray);
  font-weight: 300;
  font-size: 1rem;
}
footer p strong {
  font-weight: 800;
}
