body > header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  background-image: var(--gradient-header);
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

body > header > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
body > header > a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body > header > nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 1rem;
  z-index: 9;
}

body > header > nav a {
  text-decoration: none;
  color: var(--text-gray);
  position: relative;
}

body > header > nav a::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: var(--text-white);
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms ease-in-out;
}

body > header > nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

body > header > nav a:first-child {
  color: var(--text-white);
  font-weight: 900;
}

body > header > form {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 1rem;
  z-index: 9;
}

body > header > form label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body > header > form label svg {
  width: auto;
  height: 100%;
  fill: var(--text-white);
  transition: all 150ms ease-in-out;
}

body > header > form label:hover svg {
  fill: var(--electric);
}
body > header > form input[type="checkbox"] {
  display: none;
}
body > header > form label[for="btnMenu"] svg {
  stroke: var(--text-white);
}
body > header > form label[for="btnMenu"]:hover svg {
  stroke: var(--electric);
}
body > header > form label[for="btnMenu"] {
  display: none;
}

body > header > form nav {
  display: none;
}

@media (max-width: 768px) {
  body > header {
    justify-content: space-between;
  }
  body > header > nav {
    display: none;
  }
  body > header > form {
    gap: 1rem;
  }
  body > header > form label[for="btnMenu"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body > header > form nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: -2;
    width: calc(100% - 3rem);
    border: 0.05rem solid var(--electric);
    border-top: none;
    background-color: var(--nav-bg);
    top: 3rem;
    left: 1rem;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 1rem;
    gap: 1rem;
    transform: translateY(-100vh);
    transition: transform 1s ease-in-out;
  }
  body > header > form #btnMenu:checked ~ nav {
    transform: translateY(0);
  }
  body > header > form nav a {
    color: var(--text-gray);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  body > header > form nav a:first-child {
    color: var(--text-white);
  }
}
