@import url("base.css");

header {
  max-width: 1200px;
  background-image: linear-gradient(90deg, purple, orange);
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  width: 100%;
}
header h1 {
  flex: 1;
  background-image: linear-gradient(90deg, rgb(211, 65, 211), snow);
  color: transparent;
  background-clip: text;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header > nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header > nav a {
  color: snow;
}

header form {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
}

label[for="btnMenu"],
#btnMenu,
#btnMenu + nav {
  display: none;
}

label[for="btnCart"] {
  background-color: #fff;
  align-self: center;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

svg {
  width: auto;
  height: 100%;
}

#btnCart {
  display: none;
}

@media (max-width: 768px) {
  label[for="btnMenu"] {
    display: flex;
    background-color: black;
    align-self: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
  }
  label[for="btnMenu"] svg {
    stroke: snow;
  }
  #btnMenu:checked + nav {
    position: fixed;
    width: 25vw;
    top: calc(10vh - 0.5rem);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-image: linear-gradient(to bottom, purple, orange);
    padding: 1rem;
  }
  #btnMenu:checked + nav a {
    color: snow;
  }
  header > nav {
    display: none;
  }
  header h1 {
    justify-content: flex-start;
    padding: 0 0.25rem;
  }
}
